name: Publications API

on:
  schedule:
    # # At 0:30 UTC on everyday (6:00 AM in Sri Lanka)
    - cron: "30 0 * * *"

  # Enables a button on Actions tab
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@master
        with:
          ref: main

      - name: Set up Python 3.13
        uses: actions/setup-python@v2
        with:
          python-version: 3.13

      - name: Install Python Dependencies
        run: |
          python -m pip install --upgrade pip
          if [ -f requirements.txt ]; then pip install -r requirements.txt; fi

      - name: Generate Publication files
        working-directory: ./python_scripts
        run: python3 publications.py

      - name: Generate filtered Publication lists
        working-directory: ./python_scripts
        run: python3 publications_filter.py

      - name: Send the notifications to Discord Webhook
        working-directory: ./python_scripts
        run: python3 publication_notifications.py
        env:
          discord_webhook: ${{ secrets.PUBLICATIONAPI_WEBHOOK }}

      - name: Commit and push into the main branch
        run: |
          git config user.name github-actions
          git config user.email github-actions@github.com
          git add --all
          git commit -m "Publications API was updated by GitHub Actions" || echo "No changes to commit on Publications API"
          git push
